<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/css/uikit.min.css" />
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/js/uikit-icons.min.js"></script>
        {% endblock %}
    </head>
    <body>
    <div class="uk-container">
        <nav class="uk-navbar-container" uk-navbar>

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="#">Consult</a></li>
                    <li><a href="{{ path('suggest') }}">Suggest</a></li>
                    <li><a href="#">Vote</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </div>

        </nav>
        {% block body %}{% endblock %}
    </div>

    </body>
</html>
